body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5065 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5065_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:82px;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:82px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:33px;
  width:1565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068 {
  position:fixed;
  left:0px;
  top:66px;
}
#u5068_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:837px;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:837px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:410px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5071 {
  position:absolute;
  left:339px;
  top:272px;
  width:148px;
  height:19px;
  font-size:16px;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5073 {
  position:absolute;
  left:305px;
  top:134px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5075 {
  position:absolute;
  left:305px;
  top:180px;
  width:1038px;
  height:56px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:20px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5077 {
  position:absolute;
  left:379px;
  top:199px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5078 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5079 {
  position:absolute;
  left:815px;
  top:199px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5081 {
  position:absolute;
  left:1210px;
  top:199px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5083 {
  position:absolute;
  left:807px;
  top:272px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5084 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5085 {
  position:absolute;
  left:1210px;
  top:272px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5087 {
  position:absolute;
  left:339px;
  top:326px;
  width:148px;
  height:19px;
  font-size:16px;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5089 {
  position:absolute;
  left:807px;
  top:326px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5091 {
  position:absolute;
  left:1210px;
  top:326px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5093 {
  position:absolute;
  left:339px;
  top:378px;
  width:148px;
  height:19px;
  font-size:16px;
}
#u5094 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5095 {
  position:absolute;
  left:807px;
  top:378px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5097 {
  position:absolute;
  left:1210px;
  top:378px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5099 {
  position:absolute;
  left:339px;
  top:433px;
  width:148px;
  height:19px;
  font-size:16px;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5101 {
  position:absolute;
  left:807px;
  top:433px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5103 {
  position:absolute;
  left:1210px;
  top:433px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5104 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5105 {
  position:absolute;
  left:339px;
  top:491px;
  width:148px;
  height:19px;
  font-size:16px;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5107 {
  position:absolute;
  left:807px;
  top:491px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5109 {
  position:absolute;
  left:1210px;
  top:491px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5111 {
  position:absolute;
  left:1177px;
  top:245px;
  width:100px;
  height:313px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
