body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5303 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5303_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5303_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:82px;
}
#u5304 {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:82px;
}
#u5305 {
  position:absolute;
  left:2px;
  top:33px;
  width:1565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5306 {
  position:fixed;
  left:0px;
  top:66px;
}
#u5306_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5306_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:837px;
}
#u5307 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:837px;
}
#u5308 {
  position:absolute;
  left:2px;
  top:410px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:51px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5309 {
  position:absolute;
  left:279px;
  top:188px;
  width:1083px;
  height:51px;
}
#u5310 {
  position:absolute;
  left:2px;
  top:18px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5311 {
  position:absolute;
  left:341px;
  top:204px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5312 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5313 {
  position:absolute;
  left:1105px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5314 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5315 {
  position:absolute;
  left:950px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5316 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5317 {
  position:absolute;
  left:463px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5319 {
  position:absolute;
  left:1274px;
  top:204px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5321 {
  position:absolute;
  left:845px;
  top:119px;
  width:145px;
  height:36px;
}
#u5321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5322_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:31px;
  height:5px;
}
#u5322 {
  position:absolute;
  left:999px;
  top:137px;
  width:28px;
  height:2px;
}
#u5323 {
  position:absolute;
  left:2px;
  top:-7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5324 {
  position:absolute;
  left:1037px;
  top:119px;
  width:145px;
  height:36px;
}
#u5324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5325 {
  position:absolute;
  left:1219px;
  top:119px;
  width:143px;
  height:36px;
}
#u5325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5326 {
  position:absolute;
  left:1326px;
  top:124px;
  width:27px;
  height:27px;
}
#u5327 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5328 {
  position:absolute;
  left:583px;
  top:126px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5329 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u5330 {
  position:absolute;
  left:645px;
  top:128px;
  width:1px;
  height:17px;
}
#u5331 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u5332 {
  position:absolute;
  left:740px;
  top:128px;
  width:1px;
  height:17px;
}
#u5333 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5334 {
  position:absolute;
  left:663px;
  top:126px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5335 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5336 {
  position:absolute;
  left:757px;
  top:126px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5337 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5338 {
  position:absolute;
  left:626px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5339 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5340 {
  position:absolute;
  left:315px;
  top:275px;
  width:85px;
  height:16px;
}
#u5341 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5342 {
  position:absolute;
  left:451px;
  top:275px;
  width:89px;
  height:16px;
}
#u5343 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5344 {
  position:absolute;
  left:581px;
  top:249px;
  width:170px;
  height:70px;
  font-size:14px;
}
#u5345 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  position:absolute;
  left:945px;
  top:275px;
  width:114px;
  height:16px;
}
#u5347 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u5348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  position:absolute;
  left:1116px;
  top:275px;
  width:43px;
  height:16px;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5350 {
  position:absolute;
  left:279px;
  top:334px;
  width:1083px;
  height:1px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  position:absolute;
  left:315px;
  top:373px;
  width:85px;
  height:16px;
}
#u5353 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5354 {
  position:absolute;
  left:451px;
  top:373px;
  width:89px;
  height:16px;
}
#u5355 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5356 {
  position:absolute;
  left:581px;
  top:347px;
  width:170px;
  height:70px;
}
#u5357 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5358 {
  position:absolute;
  left:945px;
  top:373px;
  width:115px;
  height:16px;
}
#u5359 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u5360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5360 {
  position:absolute;
  left:1276px;
  top:561px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5361 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5362 {
  position:absolute;
  left:279px;
  top:428px;
  width:1083px;
  height:1px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5364 {
  position:absolute;
  left:315px;
  top:467px;
  width:85px;
  height:16px;
}
#u5365 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5366 {
  position:absolute;
  left:451px;
  top:467px;
  width:89px;
  height:16px;
}
#u5367 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  position:absolute;
  left:581px;
  top:441px;
  width:170px;
  height:70px;
}
#u5369 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5370 {
  position:absolute;
  left:945px;
  top:467px;
  width:107px;
  height:16px;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5372 {
  position:absolute;
  left:315px;
  top:561px;
  width:85px;
  height:16px;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5374 {
  position:absolute;
  left:451px;
  top:561px;
  width:89px;
  height:16px;
}
#u5375 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5376 {
  position:absolute;
  left:581px;
  top:535px;
  width:170px;
  height:70px;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5378 {
  position:absolute;
  left:945px;
  top:561px;
  width:107px;
  height:16px;
}
#u5379 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5380 {
  position:absolute;
  left:1116px;
  top:373px;
  width:43px;
  height:16px;
}
#u5381 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5382 {
  position:absolute;
  left:279px;
  top:620px;
  width:1083px;
  height:1px;
}
#u5383 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5384 {
  position:absolute;
  left:315px;
  top:659px;
  width:85px;
  height:16px;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5386 {
  position:absolute;
  left:451px;
  top:659px;
  width:89px;
  height:16px;
}
#u5387 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5388 {
  position:absolute;
  left:581px;
  top:633px;
  width:170px;
  height:70px;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5390 {
  position:absolute;
  left:945px;
  top:659px;
  width:107px;
  height:16px;
}
#u5391 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5392 {
  position:absolute;
  left:1276px;
  top:659px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5393 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5394 {
  position:absolute;
  left:279px;
  top:714px;
  width:1083px;
  height:1px;
}
#u5395 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5396 {
  position:absolute;
  left:315px;
  top:753px;
  width:85px;
  height:16px;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398 {
  position:absolute;
  left:451px;
  top:753px;
  width:89px;
  height:16px;
}
#u5399 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5400 {
  position:absolute;
  left:581px;
  top:727px;
  width:170px;
  height:70px;
}
#u5401 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5402 {
  position:absolute;
  left:1276px;
  top:753px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5403 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5404 {
  position:absolute;
  left:279px;
  top:521px;
  width:1083px;
  height:1px;
}
#u5405 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5406 {
  position:absolute;
  left:279px;
  top:807px;
  width:1083px;
  height:1px;
}
#u5407 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5408 {
  position:absolute;
  left:315px;
  top:846px;
  width:85px;
  height:16px;
}
#u5409 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5410 {
  position:absolute;
  left:451px;
  top:846px;
  width:89px;
  height:16px;
}
#u5411 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5412 {
  position:absolute;
  left:581px;
  top:820px;
  width:170px;
  height:70px;
}
#u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5414 {
  position:absolute;
  left:1276px;
  top:846px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5415 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5416 {
  position:absolute;
  left:315px;
  top:940px;
  width:85px;
  height:16px;
}
#u5417 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5418 {
  position:absolute;
  left:451px;
  top:940px;
  width:89px;
  height:16px;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5420 {
  position:absolute;
  left:581px;
  top:914px;
  width:170px;
  height:70px;
}
#u5421 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5422 {
  position:absolute;
  left:279px;
  top:999px;
  width:1083px;
  height:1px;
}
#u5423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5424 {
  position:absolute;
  left:315px;
  top:1038px;
  width:85px;
  height:16px;
}
#u5425 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5426 {
  position:absolute;
  left:451px;
  top:1038px;
  width:89px;
  height:16px;
}
#u5427 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5428 {
  position:absolute;
  left:581px;
  top:1012px;
  width:170px;
  height:70px;
}
#u5429 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5430 {
  position:absolute;
  left:1276px;
  top:1038px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5432 {
  position:absolute;
  left:279px;
  top:1093px;
  width:1083px;
  height:1px;
}
#u5433 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5434 {
  position:absolute;
  left:315px;
  top:1132px;
  width:85px;
  height:16px;
}
#u5435 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5436 {
  position:absolute;
  left:451px;
  top:1132px;
  width:89px;
  height:16px;
}
#u5437 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5438 {
  position:absolute;
  left:581px;
  top:1106px;
  width:170px;
  height:70px;
}
#u5439 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5440 {
  position:absolute;
  left:1276px;
  top:1132px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5441 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:2px;
}
#u5442 {
  position:absolute;
  left:279px;
  top:900px;
  width:1083px;
  height:1px;
}
#u5443 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5444 {
  position:absolute;
  left:1276px;
  top:940px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5445 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5446 {
  position:absolute;
  left:945px;
  top:748px;
  width:107px;
  height:16px;
}
#u5447 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5448 {
  position:absolute;
  left:945px;
  top:846px;
  width:107px;
  height:16px;
}
#u5449 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5450 {
  position:absolute;
  left:945px;
  top:940px;
  width:107px;
  height:16px;
}
#u5451 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5452 {
  position:absolute;
  left:945px;
  top:1038px;
  width:107px;
  height:16px;
}
#u5453 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5454 {
  position:absolute;
  left:945px;
  top:1132px;
  width:117px;
  height:16px;
}
#u5455 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u5456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5456 {
  position:absolute;
  left:810px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5457 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5458 {
  position:absolute;
  left:828px;
  top:275px;
  width:29px;
  height:16px;
}
#u5459 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5460 {
  position:absolute;
  left:828px;
  top:373px;
  width:29px;
  height:16px;
}
#u5461 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5462 {
  position:absolute;
  left:833px;
  top:462px;
  width:20px;
  height:16px;
}
#u5463 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5464 {
  position:absolute;
  left:828px;
  top:561px;
  width:29px;
  height:16px;
}
#u5465 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5466 {
  position:absolute;
  left:828px;
  top:659px;
  width:29px;
  height:16px;
}
#u5467 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5468 {
  position:absolute;
  left:833px;
  top:748px;
  width:20px;
  height:16px;
}
#u5469 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5470 {
  position:absolute;
  left:829px;
  top:846px;
  width:29px;
  height:16px;
}
#u5471 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5472 {
  position:absolute;
  left:829px;
  top:944px;
  width:29px;
  height:16px;
}
#u5473 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5474 {
  position:absolute;
  left:834px;
  top:1033px;
  width:20px;
  height:16px;
}
#u5475 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5476 {
  position:absolute;
  left:838px;
  top:1132px;
  width:20px;
  height:16px;
}
#u5477 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5478 {
  position:absolute;
  left:1116px;
  top:467px;
  width:43px;
  height:16px;
}
#u5479 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5480 {
  position:absolute;
  left:1116px;
  top:565px;
  width:43px;
  height:16px;
}
#u5481 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5482 {
  position:absolute;
  left:1116px;
  top:659px;
  width:43px;
  height:16px;
}
#u5483 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5484 {
  position:absolute;
  left:1116px;
  top:757px;
  width:43px;
  height:16px;
}
#u5485 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5486 {
  position:absolute;
  left:1116px;
  top:846px;
  width:43px;
  height:16px;
}
#u5487 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5488 {
  position:absolute;
  left:1116px;
  top:944px;
  width:43px;
  height:16px;
}
#u5489 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5490 {
  position:absolute;
  left:1116px;
  top:1038px;
  width:43px;
  height:16px;
}
#u5491 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5492 {
  position:absolute;
  left:1116px;
  top:1136px;
  width:43px;
  height:16px;
}
#u5493 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5494 {
  position:absolute;
  left:1276px;
  top:275px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5495 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5496 {
  position:absolute;
  left:1276px;
  top:467px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5497 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5498 {
  position:absolute;
  left:1276px;
  top:369px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5499 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5500 {
  position:absolute;
  left:1241px;
  top:239px;
  width:100px;
  height:937px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
